* {
  background-color: #2596be;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.header {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}

body {
  background-color: lightblue;
}
